.main-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: auto 100%;
}

.dashboard {
  margin: 2% 0;
  width: 85%;
  max-width: 1400px;
  min-height: 90vh;
  height: max-content;
  background: linear-gradient(
    to left bottom,
    rgba(225, 225, 255, 0.12),
    rgba(225, 225, 255, 0.7)
  );
  backdrop-filter: blur(5px) saturate(1000px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: rgb(26, 122, 118);
  font-size: 2rem;
  text-decoration: underline;
}

.navbar-link,
.navbar-logout {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: rgb(37, 68, 97);
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.navbar-logout {
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

.navbar-link:hover,
.navbar-logout:hover {
  background-color: rgba(225, 225, 225, 0.3);
}

.line {
  margin: 0 3rem;
  border-color: rgb(116, 221, 223);
}

.content {
  padding: 1rem 3rem;
}

.content-title {
  margin-bottom: 1rem;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}
