.profile-block {
  padding: 1rem;
}
.profile-content {
  margin: 1rem 5rem;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.profile-user-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.profile-user-info p {
  margin-bottom: 0.5rem;
}

.profile-user-info > p > span {
  font-weight: 300;
}
