.new-load-button-block {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.new-load-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 2.5rem;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  color: rgb(44, 44, 44);
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0.2);
  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;
}

.new-load-button:hover {
  background-color: rgba(225, 225, 225, 0.4);
}

.loadForm {
  margin: 0 auto;
  padding: 1rem 10rem;
}

.loadForm label {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  position: relative;
}

.loadForm-input {
  margin: 0.3rem 1rem;
  padding: 0 0.2rem;
  border: 1px solid rgb(59, 59, 59);
  background-color: rgb(241, 241, 255);
  font-size: 1rem;
  font-family: inherit;
  height: 1.5rem;
  width: 80%;
}

.loadForm-input-error {
  margin: 0 3rem;
  position: absolute;
  top: -0.8rem; 
  left: 9rem;
  font-size: 0.9rem;
  color: rgb(110, 32, 13);
}

.loadForm-button-block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.loadForm-button {
  font-size: 1rem;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  border-radius: 0.3rem;
  margin-top: 2rem;
  width: 10rem;
  height: 2.5rem;
  align-self: center;
  text-transform: uppercase;
}

.loadForm-button:hover:not([disabled]) {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#post-load-button {
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
}

.next-status-button {
  padding: 0.5rem;
  text-transform: uppercase;
}

.driver-loads-block {
  margin: 1rem 0 2rem;
}

.driver-loads-collapsible {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

.driver-loads-collapsible:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.driver-loads-collapsible-title {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.3rem;
  cursor: default;
}

.driver-loads-collapsible-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
