.profile-menu-item {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-family: inherit;
  border: none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  background: transparent; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right top,
    #f3f3f365,
    transparent
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left bottom,
    #f3f3f365,
    transparent
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.5s ease-out;
  cursor: pointer;
  backdrop-filter: blur(5px) saturate(1000px);
  color: rgb(37, 37, 41);
  text-decoration: none;
  box-sizing: border-box;
}

.profile-menu-item:hover {
  color: rgb(255, 255, 255);
}

.profile-menu-item-text {
  margin-left: 0.4rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}
