.trucks-add-block {
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.truck-dropdown {
  width: 15rem;
  padding: 7px 40px 7px 12px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

.trucks-add-select-label {
  margin-right: 1rem;
  display: inline-block;
}

.trucks-add-button {
  margin-left: 1rem;
  width: 10rem;
  font-family: inherit;
  text-transform: uppercase;
  border: 1px solid #9098a9;
  border-radius: 0.5rem;
  background-color: rgb(26, 122, 118);
  color: #f3f3f3;
  cursor: pointer;
}

.trucks-add-button:hover {
  background-color: rgba(26, 122, 118, 0.8);
}

#assign-truck-button {
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
}
