:root {
  --deep-blue: #13212c;
}

.auth {
  height: 100vh;
  background: #1d4350; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    #a43931,
    #1d4350
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    #a43931,
    #1d4350
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.auth-window {
  background: rgba(225, 225, 225, 0.7);
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(225, 225, 225, 0.65),
    rgba(225, 225, 225, 0.55)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    rgba(225, 225, 225, 0.65),
    rgba(225, 225, 225, 0.55)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem 2rem;
  width: 550px;
  min-height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
  justify-content: center;
  justify-items: center;
  opacity: 1;
}

.auth-input {
  margin-bottom: 8px;
  padding: 5px;
  background: none;
  border: 0;
  border-bottom: 1px solid var(--deep-blue);
  font-size: 24px;
  color: var(--deep-blue);
  transition: ease-in-out 0.2s;
}

.auth-input:focus {
  background: none;
  border: 0;
  border-bottom: 1px solid #517088;
  outline: none;
}

.auth-input::placeholder {
  color: #465057;
}

.button-block {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  margin: 0 auto;
  letter-spacing: 2.5px;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  margin-top: 25px;
  width: 48%;
  height: 45px;
  cursor: pointer;
  border: 1px solid #1d4350;
  border-radius: 20px;
  background-color: #1d4350;
  color: #e2e1e7;
  transition: ease-in-out 0.2s;
}

.submit-button:hover {
  background-color: #1a3c47;
}

.submit-button:focus {
  outline: none;
  background-color: #1a3c47;
}

.redirect-block {
  padding-top: 1rem;
  text-align: left;
}

.auth-redirect-button {
  margin-left: 0.5rem;
  color: #000;
}

.role-dropdown {
  margin-left: 1rem;
  width: 15rem;
  height: 2rem;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 0.2rem;
}

.auth-message-block {
  margin-top: 0.5rem;
  height: 1rem;
}
