.profile-change-password-title {
  font-weight: 300;
}

.profile-change-password-form {
  width: 80%;
}

.change-password-block {
  position: relative;
  margin-top: 1rem;
}

.change-password-block label {
  margin-bottom: 0.2rem;
  display: block;
  font-size: 1.1rem;
}

.change-password-input {
  padding: 0.3rem 2.5rem 0.2rem 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted rgb(52, 52, 58);
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
}

.change-password-input:focus {
  outline: none;
}

.show-password-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
}

.show-password-button .material-icons {
  color: rgb(52, 52, 58);
}

.profile-change-password-button {
  margin-top: 1rem;
  width: 11rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid #f3f3f3;
  border-radius: 0.2rem;
  transition: all 0.5s ease-out;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(31, 31, 37);
}

.profile-change-password-button:hover {
  background-color: rgba(52, 52, 58, 0.1);
}

.message-block {
  margin: 0.5rem;
  height: 1rem;
}

