table {
  width: 100%;
  table-layout: fixed;
  color: rgb(31, 33, 41);
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

td {
  height: 2.5rem;
  padding: 14px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

.table-manage-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.manage-button {
  margin-left: 0.4rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem;
  font-family: inherit;
}

.manage-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.manage-button:disabled {
  background-color: rgba(141, 141, 141, 0.6);
  cursor: default;
}